[user]
  email = me@niles.xyz
  name = Niles Rogoff
  signingkey = niles@rogoff.xyz
[alias]
  st = status -sb
  br = branch
  co = checkout
  rb = rebase
  lg = log --no-merges --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --all
  standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author Niles
  permission-reset = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"
[push]
  default = simple
[pull]
  rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process
[commit]
  gpgsign = true
[credential]
  helper = "store --file=/home/niles/.ssh/.git-credentials"
[credential "https://git.fuwafuwa.moe"]
  username = nilesrogoff
[init]
  defaultBranch = master
